@import url("style.css");

#lineHeader{position:fixed;top:5%;left:0px;width:100%;height:60px;background:rgba(0,0,0,0.5);color:#fff;z-index:3;}
#lineHeader h1{font-size:2rem;line-height: 3.5rem; padding-left:50px;display:inline-block;}
#mainHeader{ position: absolute; right:5%; font-size: 2rem; line-height: 3.5rem; text-align: center; width: 500px; height: 60px; background: #A47945; display:inline-block; color:#000;}
#news{position: absolute; top: 1%; right: 0px; width: 500px; height: 98%; background: rgba(255,255,255,0.7); z-index: 2; border-radius: 5px; box-shadow: 0px 0px 15px rgba(0,0,0,0.7);}
#mainFooter{ position: relative; font-size: 1.2rem; line-height: 2rem; text-align: center; width: 100%; height: 40px; background: #A47945;}
#newsContent{ position: relative; margin: 115px 0px 30px; padding: 20px; height: 73%; overflow: auto;}
#newsContent section{margin-bottom:10px;padding: 0px 20px;}
#newsContent .sectionHeader{position: relative; color:#556b2f; border-bottom: 1px solid #556b2f; margin: 0px; font-size: 1.4rem; line-height: 1.6rem; padding: 7px 0px;}
#mainFooter a:hover{text-shadow: 0px 0px 3px rgba(0,0,0,0.5);}
